.Weather {
  border: 1px solid #dadde1;
  color: #5c5470;
  padding: 16px;
  max-width: 600px;
  border-radius: 4px;
}

.form-control {
  color: #352f44;
}

.Weather form {
  margin-bottom: 20px;
  color: #352f44;
}

.Weather h1 {
  color: #352f44;
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: 100;
  margin-left: 31px;
  line-height: 29px;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit {
  color: #352f44;
  font-size: 16px;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
  font-weight: 400;
}
